<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>家财大事记</title>
    <link rel="icon" href="http://liujiacai.net/img/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <link rel="stylesheet" href="css/demo.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/timeliner.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/responsive.css" type="text/css" media="screen">
    <link rel="stylesheet" href="inc/colorbox.css" type="text/css" media="screen">
</head>
<body>
    <div class="container">
        <h1>写在前面</h1>
        <p class="lead">时光稍纵即逝，我们大部分时间在忙忙碌碌中度过，这里记录了我生命中那些不一样的时刻</p>
        
        <div id="timeline" class="timeline-container">
            <button class="timeline-toggle">+ 展开</button>
            <%
            var years = Object.keys(events);
            years.sort();
            for(var i=0;i<years.length;i++) {
                var year             = years[i],
                    eventsInThatYear = events[year];
            %>
                <div class="timeline-wrapper">
                    <h2 class="timeline-year"><span><%-year%></span></h2>
                    <%
                        for(var j=0;j<eventsInThatYear.length;j++) {
                            var event = eventsInThatYear[j];
                    %>
                    <dl class="timeline-series">
                        <dt id="<%-event.id%>" class="timeline-event"><a><%-event.title%></a></dt>
                        <dd class="timeline-event-content" id="<%-event.id%>EX">
                            <h3><%-event.datestr%></h3>
                            <%-event.content%>
                        </dd>
                    </dl>
                    <%
                        }
                    %>
                </div>
            <%
            }
            %>
            
            <br class="clear">
        </div><!-- /#timelineContainer -->

    </div><!-- /.container -->

    <!-- GLOBAL CORE SCRIPTS -->
    <script src="js/jquery.min.js"></script>
    <script type="text/javascript" src="inc/colorbox.js"></script>
    <script type="text/javascript" src="js/timeliner.js"></script>
    <script>
        $(document).ready(function() {
            $.timeliner({
                timelineContainer: '#timeline',
                timelineSectionMarker: '.timeline-year',
                oneOpen: false,
                startState: 'closed',
                expandAllText: '+ 展开',
                collapseAllText: '- 关闭'
            });
        });
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?67c9982decc410523c897d81bcf20dbf";
            var s = document.getElementsByTagName("script")[0]; 
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</body>
</html>
